__pycache__/
*.pyc
*.pyo
*.zip
*.log
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environments
venv/
env/
.venv/
virtualenv/
bin/
lib/
include/

# Django stuff
/staticfiles/
media/
*.pot
*.pyc
local_settings.py
db.sqlite3
backup_data.json

# Environment & IDE files
.env
*.env
*.ini
*.cfg
*.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.bak

# cPanel logs or configs
logs/
tmp/
backup/
passenger_wsgi.py



# کش و فایل‌های موقت
.cache/
tmp/
.spamassassin/
.trash/
.local/share/virtualenv/
.virtualenv/

# تنظیمات کاربر و شل
.bash_history
.bash_logout
.bash_profile
.bashrc
.zshrc
.gemrc
.lesshst
.lastlogin

# سیستمی / cPanel / CageFS
.cagefs/
.cpanel/
.wp-toolkit-identifier
.cl.selector
.clwpos

# فایل‌های ایمیل و لاگ
logs/
mail/
access-logs/

# SSL و سایر فایل‌های امنیتی
ssl/

# فایل‌های سیستمی عمومی
etc/
.initial
