{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="main" role="main">
        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="text-dark font-weight-bold text-8">{{ post.title }}</h1>
                        <span class="sub-title text-dark">{% trans 'آخرین اخبار ما را مطالعه کنید' %}</span>
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb d-block text-center">
                            <li><a href="{% url 'index' %}">{% trans 'خانه' %}</a></li>
                            <li class="active">{% trans 'بلاگ' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <div class="blog-posts single-post">
                        <article class="post post-large blog-single-post border-0 m-0 p-0">
                            <div class="post-image ml-0">
                                <a href="blog-post.html">
                                    {% if post.image %}
                                    <img alt=" " class=" img-thumbnail img-thumbnail-no-borders rounded-0"
                                         src='{{ post.image.url }}'/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="post-date ml-0">
                                <span class="day">{{ post.created_date|date:"d" }}
</span>
                                <span class="month">{{ post.month_name }}</span>
                            </div>
                            <div class="post-content ml-0">
                                <h2 class="font-weight-bold mt-n3 mb-2 pb-1 pt-1 line-height-7 text-7"><a
                                        href="blog-post.html">{{ post.title }}</a></h2>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> {% trans 'توسط' %}  <a href="#">{{ post.author }}</a> </span>
                                    <span>
                                    <i class="far fa-folder"></i>
                                        {% for cat in post.category.all %}
                                            <a href="#">{{ cat.name }}</a>{% if not forloop.last %},{% endif %}
                                        {% endfor %}</span>

                                </div>
                                <p>{{ post.content }}</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}