{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>{% trans 'آراکیس سایرا' %}</title>
    <meta content="مواد شیمیایی صنعتی، شوینده اراکیس سایر، مجتمع شیمیایی ماهان سپهر" name="keywords"/>
    <meta content="مجتمع شیمیایی ماهان سپهر اصفهان، پیشگام در تولید مواد شیمیایی صنعتی از ۱۳۸۲، با برند شوینده آراکیس سایرا، کیفیت پایدار و سازگار با محیط زیست"
      name="description"/>
    <meta content="مجتمع شیمیایی ماهان سپهر اصفهان - برند آراکیس سایرا" name="author"/>
    <!-- Favicon -->
    <link href='{% static "img/favicon.ico" %}' rel="shortcut icon" type="image/x-icon"/>
    <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon"/>
    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <!-- Vendor CSS -->
    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/animate/animate.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/simple-line-icons/css/simple-line-icons.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/owl.carousel/assets/owl.carousel.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/owl.carousel/assets/owl.theme.default.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/magnific-popup/magnific-popup.min.css" %}' rel="stylesheet"/>
    <!-- Theme CSS -->
    <link href='{% static "css/theme.css" %}' rel="stylesheet"/>
    <link href='{% static "css/theme-elements.css" %}' rel="stylesheet"/>
    <link href='{% static "css/theme-blog.css" %}' rel="stylesheet"/>
    <link href='{% static "css/theme-shop.css" %}' rel="stylesheet"/>
    <!-- Current Page CSS -->
    <link href='{% static "vendor/rs-plugin/css/settings.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/rs-plugin/css/layers.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/rs-plugin/css/navigation.css" %}' rel="stylesheet"/>
    <!-- Demo CSS -->
    <!-- Skin CSS -->
    <link href='{% static "css/skins/skin-corporate-5.css" %}' rel="stylesheet"/>
    <!-- Theme Custom CSS -->
    <link href='{% static "css/custom.css" %}' rel="stylesheet"/>
    <!-- Language Support CSS -->

    <!-- Head Libs -->
    <script src='{% static "vendor/modernizr/modernizr.min.js" %}'></script>
</head>
<body class="loading-overlay-showing" data-loading-overlay="" data-plugin-options="{'hideDelay': 500}"
      data-plugin-page-transition="">
<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="body">
    <header class="header-effect-shrink"
            data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}"
            id="header">
        <div class="header-body border-top-0">
            <div class="header-top header-top-borders">
                <div class="container h-100">
                    <div class="header-row h-100">
                        <div class="header-column justify-content-start">
                            <div class="header-row">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item nav-item-borders py-2 d-none d-sm-inline-flex">
                                            <span class="pl-0"><i
                                                    class="far fa-dot-circle text-4 text-color-primary"></i>{{ address }}</span>
                                        </li>
                                        <li class="nav-item nav-item-borders py-2">
                                            <a href="tel:{{ phone_number3 }}"><i
                                                    class="fab fa-whatsapp text-4 text-color-primary"></i> <span
                                                    class="ltr-text">{{ phone_number3 }}</span></a>
                                        </li>
                                        <li class="nav-item nav-item-borders py-2 d-none d-md-inline-flex">
                                            <a href="{{ email }}"><i
                                                    class="far fa-envelope text-4 text-color-primary"></i>
                                                {{ email }}</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item nav-item-borders py-2 pr-0">
                                            <form action="{% url 'set_language' %}" method="post"
                                                  style="display:inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="language" value="fa">
                                                <button type="submit" class="btn btn-link p-0">
                                                    <img src="{% static 'img/blank.gif' %}" class="flag flag-ir"
                                                         alt="فارسی">
                                                </button>
                                            </form>
                                        </li>
                                        <li class="nav-item nav-item-borders py-2 pr-0 ml-2">
                                            <form action="{% url 'set_language' %}" method="post"
                                                  style="display:inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="language" value="en">
                                                <button type="submit" class="btn btn-link p-0">
                                                    <img src="{% static 'img/blank.gif' %}" class="flag flag-us"
                                                         alt="English">
                                                </button>
                                            </form>
                                        </li>
                                    </ul>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="{% url 'index' %}">
                                    <img alt="Porto"
                                         src='{% static "img/logo-corporate-5.png" %}' width="190"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav header-nav-stripe order-2 order-lg-1">
                                <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                                                   href="{% url 'index' %}">
                                                    {% trans 'خانه' %}
                                                </a>
                                            </li>


                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle"
                                                   href="{% url 'all_products'%}">{% trans 'محصولات' %}</a>
                                                <ul class="dropdown-menu">
                                                    {% for cat in categories %}
                                                        {% if cat.get_full_slug %}
                                                            <li class="{% if cat.children.all %}dropdown-submenu{% endif %}">
                                                                <a class="dropdown-item {% if cat.children.all %}dropdown-toggle{% endif %}"
                                                                   href="{% url 'products_category' full_path=cat.get_full_slug %}">
                                                                    {{ cat.name }}
                                                                </a>
                                                                {% if cat.children.all %}
                                                                    <ul class="dropdown-menu">
                                                                        {% include "category_submenu.html" with subcategories=cat.children.all %}
                                                                    </ul>
                                                                {% endif %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li class="dropdown dropdown-mega">
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle {% if request.resolver_match.url_name == 'news' %}active{% endif %}" href="{% url 'news' %}">
                                                    {% trans 'اخبار' %}
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle {% if request.resolver_match.url_name == 'post_list' %}active{% endif %}" href="{% url 'post_list' %}" {% if request.resolver_match.url_name == 'index' %}active{% endif %}>
                                                    {% trans 'بلاگ' %}
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">
                                                    {% trans 'درباره ما' %}
                                                </a>

                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">
                                                    {% trans 'تماس با ما' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-target=".header-nav-main nav"
                                        data-toggle="collapse">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
                                <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                    <a class="header-nav-features-toggle" data-focus="headerSearch" href="#"><i
                                            class="fas fa-search header-nav-top-icon"></i></a>
                                    <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed"
                                         id="headerTopSearchDropdown">
                                        <form action="{% url 'product_search' %}" method="get" role="search">
                                            <div class="simple-search input-group">
                                                <input class="form-control text-1" id="headerSearch" name="query"
                                                       placeholder="جستجو ..." type="search" value=""/>
                                                <span class="input-group-append">
<button class="btn" type="submit">
<i class="fa fa-search header-nav-top-icon"></i>
</button>

                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer id="footer">
        <div class="container">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'fa' %}
            <div class="footer-ribbon">
                <span>{% trans 'در ارتباط باشید' %}</span>
            </div>
            {% endif %}
            <div class="row py-5 my-4">
                <div class="col-md-6 mb-4 mb-md-0">
                    <a class="logo pr-0 pr-lg-3" href="{% url 'index' %}">
                        <img alt="Porto Website Template" class="opacity-7 bottom-4" height="33"
                             src='{% static "img/logo-footer.png" %}'/>
                    </a>
                    <p class="mt-2 mb-2">
                        {{ about_text|slice:":200" }}...
                    </p>
                    <p class="mb-0"><a class="btn-flat btn-xs text-color-light" href="{% url 'about' %}"><strong
                            class="text-2">{% trans 'مشاهده بیشتر' %}</strong><i
                            class="fas fa-angle-left align-middle pl-2"></i></a></p>
                </div>
                <div class="col-md-6 mt-2 mt-md-0 pt-1 pt-md-0">
                    <h5 class="text-3 mb-2 pb-1">{% trans 'تماس با ما' %}</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list list-icons list-icons-lg">
                                <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
                                    <p class="m-0">{{ address }}</p></li>
                                <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i>
                                    <p class="m-0"><a class="ltr-text"
                                                      href="tel:{{ phone_number3 }}">{{ phone_number3 }}</a></p></li>
                                <li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
                                    <p class="m-0"><a href="mailto:mail@example.com">{{ email }}</a></p></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list list-icons list-icons-sm mb-n1">
                                {#                                <li><i class="fas fa-angle-left"></i><a class="link-hover-style-1 ml-1"#}
                                {#                                                                        href="page-faq.html"> سوالات متداول</a></li>#}
                                <li><i class="fas fa-angle-left"></i><a class="link-hover-style-1 ml-1"
                                                                        href="{% url 'sitemap' %}">{% trans 'نقشه سایت' %}</a>
                                </li>
                                <li><i class="fas fa-angle-left"></i><a class="link-hover-style-1 ml-1"
                                                                        href="{% url 'contact' %}">{% trans "تماس با ما" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright footer-copyright-style-2">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col d-flex align-items-center justify-content-center">
                        <p>
                            © 2025 {% trans 'شرکت ماهان سپهر اصفهان' %} | {% trans 'تمامی حقوق محفوظ است.' %}
                            <span style="font-size: 12px; opacity: 0.6;">
    {% trans 'طراحی و توسعه' %}: <a href="https://hamedsepehrnia.ir" target="_blank">{% trans 'حامد سپهرنیا' %}</a>
  </span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Vendor -->
<script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
<script src='{% static "vendor/jquery.appear/jquery.appear.min.js" %}'></script>
<script src='{% static "vendor/jquery.easing/jquery.easing.min.js" %}'></script>
<script src='{% static "vendor/jquery.cookie/jquery.cookie.min.js" %}'></script>
<script src='{% static "vendor/popper/umd/popper.min.js" %}'></script>
<script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<script src='{% static "vendor/common/common.min.js" %}'></script>
<script src='{% static "vendor/jquery.validation/jquery.validate.min.js" %}'></script>
<script src='{% static "vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js" %}'></script>
<script src='{% static "vendor/jquery.gmap/jquery.gmap.min.js" %}'></script>
<script src='{% static "vendor/jquery.lazyload/jquery.lazyload.min.js" %}'></script>
<script src='{% static "vendor/isotope/jquery.isotope.min.js" %}'></script>
<script src='{% static "vendor/owl.carousel/owl.carousel.min.js" %}'></script>
<script src='{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}'></script>
<script src='{% static "vendor/vide/jquery.vide.min.js" %}'></script>
<script src='{% static "vendor/vivus/vivus.min.js" %}'></script>
<!-- Theme Base, Components and Settings -->
<script src='{% static "js/theme.js" %}'></script>
<!-- Current Page Vendor and Views -->
<script src='{% static "vendor/rs-plugin/js/jquery.themepunch.tools.min.js" %}'></script>
<script src='{% static "vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" %}'></script>
<!-- Theme Custom -->
<script src='{% static "js/custom.js" %}'></script>
<!-- Theme Initialization Files -->
<script src='{% static "js/theme.init.js" %}'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEn4c_T1rFt7ltf_oNavnjND8dDPm4KQs"></script>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

{#<script>#}
{#    function initMap() {#}
{#        const location = { lat: 32.6768441, lng: 51.8329999 };#}
{##}
{#        const map = L.map('map', {#}
{#            center: [location.lat, location.lng],#}
{#            zoom: 11,#}
{#            scrollWheelZoom: false#}
{#        });#}
{##}
{#        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {#}
{#            attribution: '© OpenStreetMap contributors'#}
{#        }).addTo(map);#}
{##}
{#        const marker = L.marker([location.lat, location.lng], {#}
{#            title: "دفتر اصفهان",#}
{#            icon: L.icon({#}
{#                iconUrl: "img/pin.png",#}
{#                iconSize: [26, 46],#}
{#                iconAnchor: [12, 46]#}
{#            })#}
{#        }).addTo(map);#}
{##}
{#        marker.bindPopup("<strong>دفتر اصفهان</strong><br>اصفهان ، شهرک صنعتی جی ، خیابان یکم ، فرعی ۱۴ ، پلاک ۱۹۵ ، مجتمع شیمیایی ماهان سپهر اصفهان").openPopup();#}
{#    }#}
{##}
{#    // اجرا بعد از بارگذاری کامل صفحه#}
{#    document.addEventListener("DOMContentLoaded", initMap);#}
{#</script>#}
<script>
    var map = L.map('map').setView([32.6768441, 51.8329999], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([32.6768441, 51.8329999]).addTo(map)
        .bindPopup('<div dir="rtl">دفتر اصفهان<br>اصفهان، شهرک صنعتی جی، خیابان یکم، فرعی ۱۴، پلاک ۱۹۵، مجتمع شیمیایی ماهان سپهر اصفهان</div>')
        .openPopup();
</script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->
</body>
</html>