{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html dir="{{ html_dir }}" lang="{{ LANGUAGE_CODE }}">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>{% trans 'آراکیس سایرا' %}</title>
    <meta content="مواد شیمیایی صنعتی، شوینده اراکیس سایر، مجتمع شیمیایی ماهان سپهر" name="keywords"/>
    <meta content="مجتمع شیمیایی ماهان سپهر اصفهان، پیشگام در تولید مواد شیمیایی صنعتی از ۱۳۸۲، با برند شوینده آراکیس سایرا، کیفیت پایدار و سازگار با محیط زیست"
      name="description"/>
    <meta content="مجتمع شیمیایی ماهان سپهر اصفهان - برند آراکیس سایرا" name="author"/>
    <!-- Favicon -->
    <link href='{% static "img/favicon.ico" %}' rel="shortcut icon" type="image/x-icon"/>
    <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon"/>
    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <!-- Vendor CSS -->
    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/animate/animate.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/simple-line-icons/css/simple-line-icons.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/owl.carousel/assets/owl.carousel.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/owl.carousel/assets/owl.theme.default.min.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/magnific-popup/magnific-popup.min.css" %}' rel="stylesheet"/>
    <!-- Theme CSS -->
    <link href='{% static "css/theme.css" %}' rel="stylesheet"/>
    <link href='{% static "css/theme-elements.css" %}' rel="stylesheet"/>
    <link href='{% static "css/theme-blog.css" %}' rel="stylesheet"/>
    <link href='{% static "css/theme-shop.css" %}' rel="stylesheet"/>
    <!-- Current Page CSS -->
    <link href='{% static "vendor/rs-plugin/css/settings.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/rs-plugin/css/layers.css" %}' rel="stylesheet"/>
    <link href='{% static "vendor/rs-plugin/css/navigation.css" %}' rel="stylesheet"/>
    <!-- Demo CSS -->
    <!-- Skin CSS -->
    <link href='{% static "css/skins/skin-corporate-5.css" %}' rel="stylesheet"/>
    <!-- Theme Custom CSS -->
    <link href='{% static "css/custom.css" %}' rel="stylesheet"/>
    <!-- Language Support CSS -->

    <!-- Head Libs -->
    <script src='{% static "vendor/modernizr/modernizr.min.js" %}'></script>
</head>
<body data-plugin-page-transition="">
<div class="body">
    <!-- Header جدید - تمیز و استاندارد -->
    <header id="header" class="modern-header">
        <!-- Top Bar -->
        <div class="header-topbar">
            <div class="container">
                <div class="row align-items-center">
                    <!-- اطلاعات تماس -->
                    <div class="col-lg-8 col-md-6 col-6">
                        <div class="topbar-info">
                            <span class="topbar-item">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:{{ phone_number3 }}" class="ltr-text">{{ phone_number3 }}</a>
                            </span>
                            <span class="topbar-item d-none d-lg-inline">
                                <i class="far fa-envelope"></i>
                                <a href="mailto:{{ email }}">{{ email }}</a>
                            </span>
                            <span class="topbar-item topbar-address d-none d-xl-inline">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>{{ address }}</span>
                            </span>
                        </div>
                    </div>
                    
                    <!-- Language Switcher -->
                    <div class="col-lg-4 col-md-6 col-6 text-end">
                        <div class="language-switcher">
                            <form action="{% url 'set_language' %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="language" value="fa">
                                <button type="submit" class="lang-btn {% if LANGUAGE_CODE == 'fa' %}active{% endif %}">
                                    فارسی
                                </button>
                            </form>
                            <span class="lang-separator">|</span>
                            <form action="{% url 'set_language' %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="language" value="en">
                                <button type="submit" class="lang-btn {% if LANGUAGE_CODE == 'en' %}active{% endif %}">
                                    English
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Main Header -->
        <div class="header-main">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-lg-3 col-6">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src='{% static "img/logo-corporate-5.png" %}' alt="{% trans 'آراکیس سایرا' %}" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    
                    <!-- Navigation -->
                    <div class="col-lg-9 col-6">
                        <div class="d-flex align-items-center justify-content-end">
                            <!-- Main Menu -->
                            <nav class="main-nav d-none d-lg-block">
                                <ul class="nav-menu">
                                    <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">{% trans 'خانه' %}</a></li>
                                    
                                    <li class="has-dropdown">
                                        <a href="{% url 'all_products' %}" class="{% if request.resolver_match.url_name == 'all_products' or request.resolver_match.url_name == 'products_category' or request.resolver_match.url_name == 'product_detail' or request.resolver_match.url_name == 'product_search' %}active{% endif %}">{% trans 'محصولات' %} <i class="fas fa-chevron-down"></i></a>
                                        <ul class="dropdown-nav">
                                            {% for cat in categories %}
                                                {% if cat.get_full_slug %}
                                                    <li class="{% if cat.children.all %}has-submenu{% endif %}">
                                                        <a href="{% url 'products_category' full_path=cat.get_full_slug %}">
                                                            {{ cat.name }}
                                                            {% if cat.children.all %}<i class="fas fa-chevron-left submenu-arrow"></i>{% endif %}
                                                        </a>
                                                        {% if cat.children.all %}
                                                            <ul class="submenu-nav">
                                                                {% for child in cat.children.all %}
                                                                    <li><a href="{% url 'products_category' full_path=child.get_full_slug %}">{{ child.name }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    
                                    <li><a href="{% url 'news' %}" class="{% if request.resolver_match.url_name == 'news' or request.resolver_match.url_name == 'news_detail' %}active{% endif %}">{% trans 'اخبار' %}</a></li>
                                    <li><a href="{% url 'post_list' %}" class="{% if request.resolver_match.url_name == 'post_list' or request.resolver_match.url_name == 'post_detail' %}active{% endif %}">{% trans 'بلاگ' %}</a></li>
                                    <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">{% trans 'درباره ما' %}</a></li>
                                    <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">{% trans 'تماس با ما' %}</a></li>
                                </ul>
                            </nav>
                            
                            <!-- Search Icon -->
                            <div class="search-icon d-none d-lg-block">
                                <button class="search-btn" onclick="toggleSearch()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            
                            <!-- Mobile Menu Toggle -->
                            <button class="mobile-menu-toggle d-lg-none" onclick="toggleMobileMenu()">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Search Bar (مخفی) -->
        <div class="search-bar" id="searchBar" style="display: none;">
            <div class="container">
                <form action="{% url 'product_search' %}" method="get" class="search-form">
                    <input type="text" name="query" placeholder="{% trans 'جستجوی محصولات ...' %}" class="search-input">
                    <button type="submit" class="search-submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <button type="button" class="search-close" onclick="toggleSearch()">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </div>
        </div>
        
        <!-- Mobile Menu -->
        <div class="mobile-menu" id="mobileMenu">
            <div class="mobile-menu-header">
                <h5>{% trans 'منو' %}</h5>
                <button class="mobile-menu-close" onclick="toggleMobileMenu()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <ul class="mobile-nav">
                <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">{% trans 'خانه' %}</a></li>
                <li class="has-submenu">
                    <a href="{% url 'all_products' %}" class="submenu-toggle {% if request.resolver_match.url_name == 'all_products' or request.resolver_match.url_name == 'products_category' or request.resolver_match.url_name == 'product_detail' or request.resolver_match.url_name == 'product_search' %}active{% endif %}">
                        {% trans 'محصولات' %} 
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="mobile-submenu">
                        {% for cat in categories %}
                            {% if cat.get_full_slug %}
                                <li><a href="{% url 'products_category' full_path=cat.get_full_slug %}">{{ cat.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'news' %}" class="{% if request.resolver_match.url_name == 'news' or request.resolver_match.url_name == 'news_detail' %}active{% endif %}">{% trans 'اخبار' %}</a></li>
                <li><a href="{% url 'post_list' %}" class="{% if request.resolver_match.url_name == 'post_list' or request.resolver_match.url_name == 'post_detail' %}active{% endif %}">{% trans 'بلاگ' %}</a></li>
                <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">{% trans 'درباره ما' %}</a></li>
                <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">{% trans 'تماس با ما' %}</a></li>
            </ul>
        </div>
        
        <!-- Overlay for mobile menu -->
        <div class="mobile-overlay" id="mobileOverlay" onclick="toggleMobileMenu()"></div>
    </header>
    
    <script>
        // Toggle Search Bar
        function toggleSearch() {
            const searchBar = document.getElementById('searchBar');
            if (searchBar.style.display === 'none') {
                searchBar.style.display = 'block';
                setTimeout(() => searchBar.classList.add('show'), 10);
                document.querySelector('.search-input').focus();
            } else {
                searchBar.classList.remove('show');
                setTimeout(() => searchBar.style.display = 'none', 300);
            }
        }
        
        // Toggle Mobile Menu
        function toggleMobileMenu() {
            const mobileMenu = document.getElementById('mobileMenu');
            const overlay = document.getElementById('mobileOverlay');
            const body = document.body;
            
            if (mobileMenu.classList.contains('active')) {
                mobileMenu.classList.remove('active');
                overlay.classList.remove('active');
                body.style.overflow = '';
            } else {
                mobileMenu.classList.add('active');
                overlay.classList.add('active');
                body.style.overflow = 'hidden';
            }
        }
        
        // Toggle Mobile Submenu
        document.querySelectorAll('.mobile-nav .submenu-toggle').forEach(toggle => {
            toggle.addEventListener('click', function(e) {
                e.preventDefault();
                const parent = this.parentElement;
                parent.classList.toggle('open');
            });
        });
    </script>
    {% block content %}
    {% endblock %}
    <!-- Footer مدرن و تمیز -->
    <footer class="modern-footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <!-- درباره شرکت -->
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="footer-widget">
                            <div class="footer-logo mb-3">
                                <a href="{% url 'index' %}">
                                    <img src='{% static "img/logo-footer.png" %}' alt="{% trans 'آراکیس سایرا' %}" style="max-height: 50px;">
                                </a>
                            </div>
                            <p class="footer-desc">
                                {{ about_text|truncatewords:25 }}
                            </p>
                            <a href="{% url 'about' %}" class="footer-link-more">
                                {% trans 'درباره ما' %}
                                <i class="fas fa-arrow-left ms-1"></i>
                            </a>
                        </div>
                    </div>
                    
                    <!-- لینک‌های سریع -->
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                        <div class="footer-widget">
                            <h5 class="footer-title">{% trans 'دسترسی سریع' %}</h5>
                            <ul class="footer-links">
                                <li><a href="{% url 'index' %}">{% trans 'خانه' %}</a></li>
                                <li><a href="{% url 'all_products' %}">{% trans 'محصولات' %}</a></li>
                                <li><a href="{% url 'news' %}">{% trans 'اخبار' %}</a></li>
                                <li><a href="{% url 'post_list' %}">{% trans 'بلاگ' %}</a></li>
                                <li><a href="{% url 'about' %}">{% trans 'درباره ما' %}</a></li>
                                <li><a href="{% url 'contact' %}">{% trans 'تماس با ما' %}</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- اطلاعات تماس -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="footer-widget">
                            <h5 class="footer-title">{% trans 'تماس با ما' %}</h5>
                            <ul class="footer-contact">
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>{{ address }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-phone-alt"></i>
                                    <a href="tel:{{ phone_number3 }}" class="ltr-text">{{ phone_number3 }}</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:{{ email }}">{{ email }}</a>
                                </li>
                                {% if instagram_page %}
                                <li>
                                    <i class="fab fa-instagram"></i>
                                    <a href="https://www.instagram.com/{{ instagram_page }}" target="_blank">{{ instagram_page }}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    
                    <!-- ساعات کاری -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="footer-widget">
                            <h5 class="footer-title">{% trans 'ساعات کاری' %}</h5>
                            <ul class="footer-hours">
                                <li>
                                    <i class="far fa-clock"></i>
                                    {{ work_hour1 }}
                                </li>
                                <li>
                                    <i class="far fa-clock"></i>
                                    {{ work_hour2 }}
                                </li>
                                <li>
                                    <i class="far fa-clock"></i>
                                    {{ work_hour3 }}
                                </li>
                            </ul>
                            
                            <!-- شبکه‌های اجتماعی -->
                            <div class="footer-social mt-4">
                                <h6 class="footer-social-title">{% trans 'ما را دنبال کنید' %}</h6>
                                <div class="social-links">
                                    {% if instagram_page %}
                                    <a href="https://www.instagram.com/{{ instagram_page }}" target="_blank" class="social-link instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    {% endif %}
                                    <a href="#" class="social-link telegram">
                                        <i class="fab fa-telegram-plane"></i>
                                    </a>
                                    <a href="#" class="social-link whatsapp">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                    <a href="{% url 'sitemap' %}" class="social-link sitemap" title="{% trans 'نقشه سایت' %}">
                                        <i class="fas fa-sitemap"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Copyright -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <p class="footer-copyright">
                            © 2025 {% trans 'شرکت ماهان سپهر اصفهان' %} | {% trans 'تمامی حقوق محفوظ است.' %}
                        </p>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <p class="footer-developer">
                            {% trans 'طراحی و توسعه' %}: 
                            <a href="https://hamedsepehrnia.ir" target="_blank" rel="noopener">
                                {% trans 'حامد سپهرنیا' %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Vendor -->
<script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
<script src='{% static "vendor/jquery.appear/jquery.appear.min.js" %}'></script>
<script src='{% static "vendor/jquery.easing/jquery.easing.min.js" %}'></script>
<script src='{% static "vendor/jquery.cookie/jquery.cookie.min.js" %}'></script>
<script src='{% static "vendor/popper/umd/popper.min.js" %}'></script>
<script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<script src='{% static "vendor/common/common.min.js" %}'></script>
<script src='{% static "vendor/jquery.validation/jquery.validate.min.js" %}'></script>
<script src='{% static "vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js" %}'></script>
<script src='{% static "vendor/jquery.gmap/jquery.gmap.min.js" %}'></script>
<script src='{% static "vendor/jquery.lazyload/jquery.lazyload.min.js" %}'></script>
<script src='{% static "vendor/isotope/jquery.isotope.min.js" %}'></script>
<script src='{% static "vendor/owl.carousel/owl.carousel.min.js" %}'></script>
<script src='{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}'></script>
<script src='{% static "vendor/vide/jquery.vide.min.js" %}'></script>
<script src='{% static "vendor/vivus/vivus.min.js" %}'></script>
<!-- Theme Base, Components and Settings -->
<script src='{% static "js/theme.js" %}'></script>
<!-- Current Page Vendor and Views -->
<script src='{% static "vendor/rs-plugin/js/jquery.themepunch.tools.min.js" %}'></script>
<script src='{% static "vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" %}'></script>
<!-- Theme Custom -->
<script src='{% static "js/custom.js" %}'></script>
<!-- Theme Initialization Files -->
<script src='{% static "js/theme.init.js" %}'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEn4c_T1rFt7ltf_oNavnjND8dDPm4KQs"></script>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

{#<script>#}
{#    function initMap() {#}
{#        const location = { lat: 32.6768441, lng: 51.8329999 };#}
{##}
{#        const map = L.map('map', {#}
{#            center: [location.lat, location.lng],#}
{#            zoom: 11,#}
{#            scrollWheelZoom: false#}
{#        });#}
{##}
{#        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {#}
{#            attribution: '© OpenStreetMap contributors'#}
{#        }).addTo(map);#}
{##}
{#        const marker = L.marker([location.lat, location.lng], {#}
{#            title: "دفتر اصفهان",#}
{#            icon: L.icon({#}
{#                iconUrl: "img/pin.png",#}
{#                iconSize: [26, 46],#}
{#                iconAnchor: [12, 46]#}
{#            })#}
{#        }).addTo(map);#}
{##}
{#        marker.bindPopup("<strong>دفتر اصفهان</strong><br>اصفهان ، شهرک صنعتی جی ، خیابان یکم ، فرعی ۱۴ ، پلاک ۱۹۵ ، مجتمع شیمیایی ماهان سپهر اصفهان").openPopup();#}
{#    }#}
{##}
{#    // اجرا بعد از بارگذاری کامل صفحه#}
{#    document.addEventListener("DOMContentLoaded", initMap);#}
{#</script>#}
<script>
    var map = L.map('map').setView([32.6768441, 51.8329999], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([32.6768441, 51.8329999]).addTo(map)
        .bindPopup('<div dir="rtl">دفتر اصفهان<br>اصفهان، شهرک صنعتی جی، خیابان یکم، فرعی ۱۴، پلاک ۱۹۵، مجتمع شیمیایی ماهان سپهر اصفهان</div>')
        .openPopup();
</script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->
</body>
</html>